extends layout/app
block var
    - let page_title = "Home";
block content 
    .start 
        .start__content 
            .start__author 
                span Furkat Vokhidov 
            .start__name 
                h1 Gulp starter 
            .start__social 
                a(href="https://t.me/@ANIME_if")
                    i.fa-brands.fa-telegram


        